/* Recommended Flight */
.recommended-card {
    background: white;
    border-radius: 1rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 2.3rem;
    padding-top: 1rem;
    max-height: 380px;
    /* height: 100%;
    overflow-y: auto; */
}


.card-title {
    color: #111827;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


.map-preview {
    height: 12rem;
    background: linear-gradient(to bottom right, #d1fae5, #ecfdf5);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.map-icon {
    width: 4rem;
    height: 4rem;
    color: #6ee7b7;
}

.flight-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-route {
    font-weight: 700;
    font-size: 1.125rem;
    color: #111827;
}

/* .flight-time-header {

} */

.flight-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111827;
}

.flight-price-small {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
}

/* Контейнер RecommFlights с ограничением высоты */
.recomm-flights-container {
    height: 100%;
    /* overflow-y: auto;
    overflow-x: hidden; */
}

/* Красивая прокрутка */
.recomm-flights-container::-webkit-scrollbar {
    width: 8px;
}

.recomm-flights-container::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 10px;
}

.recomm-flights-container::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.recomm-flights-container::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}