@using ZetTechAvio1._0.Components.Shared
@using ZetTechAvio1._0.Components.Layout
@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase


<div class="page">
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <img class="imagelogo" src="routing-2.png"/>
                <span class="logo-text">ZetTechAvio</span>
            </div>
            <LoginButtons />
        </div>
    </header>
    @Body
</div>



